<div class="hero">
    <h1>Lorem ipsum dolor sit amet consectetur.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, dolorem voluptas. Consequuntur aut illum placeat distinctio asperiores suscipit incidunt!</p>
    <div class="scroll">
      <img src="assets/chevron.png" alt="chevron">
    </div>
</div>

<div class="filter">
    <div class="container filter-content">
        <div>
          <label>
            <input [(ngModel)]="isManVisible" type="checkbox" name="men">
            Men
          </label>
          <label>
            <input [(ngModel)]="isWomenVisible" type="checkbox" name="women">
            Women
          </label>
        </div>
        <div>
          <button (click)="seeAllProduct()">See all products</button>
        </div>
    </div>
  </div>

  <div class="catalog container">
    <app-slider *ngIf="isManVisible" [header]="'Men(' + menSlides.length + ')'" [slides]="menSlides"></app-slider>
    <app-slider *ngIf="isWomenVisible" [header]="'Women(' + womenSlides.length + ')'" [slides]="womenSlides"></app-slider>
  </div>

  <div class="about"></div>
  