header {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;

    nav {
        font-size: 18px;
        font-weight: 400px;
        ul {margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            li {
                a{
                    color: white;
                    text-decoration: none;
                    padding: 0 20px;
                }

            }
        }
    }
}

.hero {
    color: white;
    background-image: url('../assets/bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        max-width: 800px;
        font-size: 60px;
    }

    p {
        max-width: 586px;
        font-size: 20px;
        line-height: 1.6;
    }

    .scroll {
        position: absolute;
        bottom: 50px;
    }
}

.catalog {
    
}

